<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songhaozhi.mayday.mapper.generator.DocData">
  <resultMap id="BaseResultMap" type="com.songhaozhi.mayday.model.domain.ArticleCategory">
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
  </resultMap>

    <!--获取doc-->
  <select id="getDocData" resultType="com.songhaozhi.mayday.model.dto.DocDate">
    select * from `doc-data`
      <where>
          <foreach collection="like" item="item" index="index" separator="or">
            title like concat('%', #{item}, '%')
          </foreach>
        <if test="num != 0">
          limit 0, #{num}
        </if>
      </where>
  </select>

  <select id="getDocDataCount" resultType="java.lang.Integer">
    select count(1) from `doc-data`
    <where>
      <foreach collection="like" item="item" index="index" separator="or">
        title like concat('%', #{item}, '%')
      </foreach>
    </where>
  </select>

    <!--获取email-->
    <select id="getEmailData" resultType="com.songhaozhi.mayday.model.dto.EmaliDate">
        select * from `email-data`
        <where>
            <foreach collection="like" item="item" index="index" separator="or">
                title like concat('%', #{item}, '%')
            </foreach>
        </where>
        <if test="num != 0">
            limit 0, #{num}
        </if>
    </select>

    <select id="getEmailDataCount" resultType="java.lang.Integer">
        select count(1) from `email-data`
        <where>
            <foreach collection="like" item="item" index="index" separator="or">
                title like concat('%', #{item}, '%')
            </foreach>
        </where>
    </select>

    <!--app数据-->
    <select id="getApplData" resultType="java.lang.String">
        select link from `app-data`
        <where>
            <foreach collection="like" item="item" index="index" separator="or">
                title like concat('%', #{item}, '%')
            </foreach>
        </where>
        <if test="num != 0">
            limit 0, #{num}
        </if>
    </select>

    <select id="getAppDataCount" resultType="java.lang.Integer">
        select count(1) from `app-data`
        <where>
            <foreach collection="like" item="item" index="index" separator="or">
                title like concat('%', #{item}, '%')
            </foreach>
        </where>
    </select>

</mapper>