<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songhaozhi.mayday.mapper.generator.OrgMapper">
  <resultMap id="BaseResultMap" type="com.songhaozhi.mayday.model.domain.ArticleCategory">
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
  </resultMap>
  <select id="getOrgList" resultType="com.songhaozhi.mayday.model.dto.Org">
    select * from GXZCC_SYS_ORGAN where 1=1
  <if test="parentId != null and parentId != '' ">
   AND fatherid = #{parentId}
  </if>
    order by orderid

  </select>

  <select id="getOrgList2" resultType="com.songhaozhi.mayday.model.dto.Org">
    select * from GXZCC_SYS_ORGAN where 1=1
    <if test="parentId != null and parentId != '' ">
      AND fatherid = #{parentId}
    </if>
    order by orderid
    limit #{startIndex}, 10
  </select>

  <select id="getOrgList2Size" resultType="java.lang.Integer">
    select count(1) from GXZCC_SYS_ORGAN where 1=1
    <if test="parentId != null and parentId != '' ">
      AND fatherid = #{parentId}
    </if>
  </select>

  <insert id="insertOrgData" parameterType="com.songhaozhi.mayday.model.dto.Org">
  INSERT into GXZCC_SYS_ORGAN
  (`ORGANID`, `ORGANNAME`, `FATHERID`, `ORDERID`,`DN`, `ISDELETE`, `CODE`, `PATH`, `ORGUUID`, `TYPE`, `TIMESTAMP`)
  VALUES
    <foreach collection="list" item="org" index="index" separator=",">
      (#{org.organId},
      #{org.organName},
      #{org.fatherId},
      #{org.orderId},
      #{org.dn},
      #{org.isDelete},
      #{org.code},
      #{org.path},
      #{org.orgUuid},
      #{org.type},
      #{org.timesTamp})
    </foreach>
  </insert>

  <select id="getAllDepartsFatherId" resultType="java.lang.String">
  select distinct(fatherId) from GXZCC_SYS_ORGAN
  </select>

  <delete id="deleteOrgData" parameterType="java.lang.String">
    delete from GXZCC_SYS_ORGAN where ORGANID IN
    <foreach collection="list" item="id" index="index" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
</mapper>