<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:thSys="">
<div th:replace="admin/module/macros :: head('组织机构')"></div>
<head>
    <meta charset="UTF-8">
    <title>机构管理</title>

    <link rel="stylesheet" href="/plugins/bootstrap-treeview/css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="/plugins/flatpickr/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/flatpickr/css/htmleaf-demo.css">-->
    <link rel="stylesheet" type="text/css" href="/plugins/flatpickr/dist/flatpickr.min.css">


</head>
<body class="app sidebar-mini rtl">
<main class="app-content">
    <div th:replace="admin/module/macros :: header"></div>
    <div th:replace="admin/module/macros :: sidebar"></div>
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-book"></i>组织机构
            </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="/admin/page">用户</a></li>
            <li class="breadcrumb-item">组织机构</li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-5">

                        <h4 class="tile-title">机构信息</h4>
                        <div id="tree">

                        </div>

                    </div>
                    <div id="tabdiv" class="col-lg-7">
                        <h4 class="tile-title">机构详情</h4>
                        <div class="table-responsive">
                            <label for="meeting">开始时间：</label>
                            <input id="meeting" placeholder="请选择开始时间">&nbsp;&nbsp;&nbsp;&nbsp;
                            <button value="开始同步" class="btn btn-sm btn-outline-primary" onclick="Synchronization()">同步</button>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="20%">序号</th>
                                        <th width="30%">机构简拼</th>
                                        <th width="50%">机构名称</th>
                                    </tr>
                                </thead>
                                <tbody id="tdata">

                                </tbody>
                            </table>
                           <!-- <div class="container"  style="float: right;">
                                <ul class="pagination">
                                </ul>
                            </div>-->
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>



</main>
<div th:replace="admin/module/macros :: remove"></div>
<div th:replace="admin/module/macros :: comm"></div>
<script src="/js/jquery.min.js"></script>
<script src="/plugins/bootstrap-treeview/js/bootstrap-treeview.js"></script>
<script src="/plugins/flatpickr/dist/flatpickr.js"></script>
</body>
</html>
<script type="text/javascript">

    var token;

    $(function(){
        $("#meeting").flatpickr();
        /*$('#tree').on('nodeSelected',function(event, data) {

            if(data.state.expanded){
                // 处于展开状态则折叠
                $('#tree').treeview('collapseNode', data.nodeId);
            } else {
                // 展开
                $('#tree').treeview('expandNode', data.nodeId);
            }
        });*/
        getOrgJsonTree();
        /*getOrgList();*/

        $.ajax({
            url:"/getToken",
            data:{client_id:"legacycpk.csse.cms",client_secret:"test123"},
            success:function(data){
               token =  data.access_token
            }
        })

        /*$("#orglist").change(function(){
            var value = this.value;
            $(".baby").empty();
            $.ajax({
                url:"/admin/org/getOrgList2",
                type:"get",
                data:{fatherId:value, page: 1, limit:10},
                success:function (data) {
                    $(".baby").empty();
                    for(var i = 0; i<data.data.length; i++) {
                        $(".baby").append("<tr><td>" + data.data[i].organName + "</td>" +
                            "<td>" + data.data[i].code + "</td></tr>");
                    }
                    $(".pagination").empty();
                    for(var i = 0; i<= data.size/10; i++){
                        $(".pagination").append("<li class='page-item' value='"+(i+1)+"'><a class='page-link' id='"+(i+1)+"' onclick='switchPage(this.id)' >"+(i+1)+"</a></li>");
                    }
                }
            })
        })*/

    })

    /*function switchPage(id){
        var obj = $("#orglist option:selected").val();
        console.log(obj);
        $.ajax({
            url:"/admin/org/getOrgList2",
            type:"get",
            data:{fatherId:obj, page: id, limit:10},
            success:function(data){
                $(".baby").empty();
                for(var i = 0; i<data.data.length; i++) {
                    $(".baby").append("<tr><td>" + data.data[i].organName + "</td>" +
                        "<td>" + data.data[i].code + "</td></tr>");
                }
            }
        })
    }*/

    /*function getOrgList(){
        $.ajax({
            url:"/admin/org/getOrgList",
            type:"get",
            success:function (data) {
                for(var i = 0; i<data.data.length; i++){
                    $("#orglist").append("<option onclick='getOrgMessage(this.value)' id='"+data.data[i].fatherId+"'  value='"+data.data[i].fatherId+"'>"+data.data[i].organName+"</option>");

                }
            }
        })
    }*/
    function getOrgJsonTree(){
        $.ajax({
            url:"/admin/org/getOrgJsonTree",
            type:"get",
            success:function (data) {

                console.log(JSON.stringify(data));
                $('#tree').treeview({
                    levels: 2 ,                 //设置初始化展开几级菜单 默认为2
                    data:data.data
                });
            }
        })
    }

/*
    function getOrgMessage(){

    }*/

    function Synchronization() {
        var time = $("#meeting").val();
        console.log(time);
        if (time) {
            var d = new Date(time);
            var timestamp = d.getTime(d)/1000;
            console.log(timestamp);
            $.ajax({
                url: "/IncrSyn",
                data: {access_token: token, starttime: timestamp},
                success: function (data) {
                        console.log(data);
                        if (data.orgMessage && data.userMessage) {
                            alert("没有可以同步的组织机构信息和人员信息");
                        } else if (data.orgMessage) {
                            alert(data.orgMessage);
                        } else if (data.userMessage) {
                            alert(data.userMessage);
                        }else{
                            alert("同步完成");
                        }
                },
                error:function(data){
                    alert("返回的同步数据和本地数据库数据有重复，请排查，或者重新选取同步时间！");
                }
            })
        }else{
            alert("请输入正确时间");
        }

    }
    function itemOnclick(target){
        //清除数据
        $("#tdata").empty();
        //找到当前节点id
        var nodeid = $(target).attr('data-nodeid');
        var tree = $('#tree');
        //获取当前节点对象
        var node = tree.treeview('getNode', nodeid);
        //alert(node.organId);
        if(node.state.expanded){
            //处于展开状态则折叠
            tree.treeview('collapseNode', node.nodeId);
        } else {
            //展开
            tree.treeview('expandNode', node.nodeId);
        }
        $.ajax({
            url:"/admin/org/getOrgList?fatherId="+node.organId,
            type:"get",
            success:function (data) {
                for(var i = 0; i<data.data.length; i++){

                    $("#tdata").append("<tr><td>"+(i+1)+"</td><td>"+data.data[i].code+"</td><td>"+data.data[i].organName+"</td></tr>");

                }

            }
        })

    }

</script>